/dts-v1/;

#include "sdm845-comma-common.dtsi"

/ {
	model = "comma tizi";
	compatible = "comma,tizi", "qcom,sdm845";
	qcom,msm-id = <341 0x20001>, <321 0x20001>, <321 0x20000>, <348 0x20001>;
	qcom,board-id = <0x21 0>;

	main5v: main5v {
		status = "okay";
		compatible = "regulator-fixed";
		regulator-name = "main5v";
		regulator-min-microvolt = <5000000>;
		regulator-max-microvolt = <5000000>;
		gpio = <&tlmm 25 0>;
		enable-active-high;
		regulator-always-on;
		regulator-boot-on;
	};

	tp3v3: tp3v3 {
		status = "okay";
		compatible = "regulator-fixed";
		regulator-name = "tp3v3";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		gpio = <&pm8998_gpios 10 0>;
		enable-active-high;
		regulator-boot-on;
	};
};

&i2c5 {
	touchscreen@17 {
		compatible = "samsung,s6sy761";
		reg = <0x17>;
		interrupt-parent = <&tlmm>;
		interrupts = <125 IRQ_TYPE_EDGE_FALLING>;
		vdd-supply = <&tp3v3>;
		avdd-supply = <&tp3v3>;
		touchscreen-size-x = <1080>;
		touchscreen-size-y = <2160>;
	};
};

&i2c10 {
	status = "okay";
	clock-frequency = <100000>;

	ina231@40 {
		compatible = "ti,ina231";
		reg = <0x40>;
		shunt-resistor = <30000>;
	};
};

&mdss_dsi0 {
	panel@0 {
		compatible = "samsung,ea8074";
		reg = <0>;
		vddio-supply = <&vreg_l14a_1p88>;
		reset-gpios = <&tlmm 6 GPIO_ACTIVE_LOW>;

		port {
			panel_in: endpoint {
				remote-endpoint = <&mdss_dsi0_out>;
			};
		};
	};
};

&mdss_dsi0_out {
	remote-endpoint = <&panel_in>;
	data-lanes = <0 1 2 3>;
};

&tlmm {
	tert_mi2s_mclk_sleep: tert-mi2s-mclk-sleep-state {
		pins = "gpio74";
		function = "gpio";
		drive-strength = <2>;
		bias-pull-down;
		input-enable;
	};

	tert_mi2s_mclk_active: tert-mi2s-mclk-active-state {
		pins = "gpio74";
		function = "tert_mi2s";
		drive-strength = <8>;
		bias-disable;
	};

	tert_mi2s_sleep: tert-mi2s-sleep-state {
		pins = "gpio75", "gpio76";
		function = "gpio";
		drive-strength = <2>;
		bias-pull-down;
		input-enable;
	};

	tert_mi2s_active: tert-mi2s-active-state {
		pins = "gpio75", "gpio76";
		function = "ter_mi2s";
		drive-strength = <8>;
		bias-disable;
		output-high;
	};

	tert_mi2s_sd0_sleep: tert-mi2s-sd0-sleep-state {
		pins = "gpio77";
		function = "gpio";
		drive-strength = <2>;
		bias-pull-down;
		input-enable;
	};

	tert_mi2s_sd0_active: tert-mi2s-sd0-active-state {
		pins = "gpio77";
		function = "ter_mi2s";
		drive-strength = <8>;
		bias-disable;
	};

	tert_mi2s_sd1_sleep: tert-mi2s-sd1-sleep-state {
		pins = "gpio78";
		function = "gpio";
		drive-strength = <2>;
		bias-pull-down;
		input-enable;
	};

	tert_mi2s_sd1_active: tert-mi2s-sd1-active-state {
		pins = "gpio78";
		function = "ter_mi2s";
		drive-strength = <8>;
		bias-disable;
	};
};

&q6afedai {
	qi2s@18 {
		reg = <SECONDARY_MI2S_RX>;
		qcom,sd-lines = <0>;
	};

	qi2s@21 {
		reg = <TERTIARY_MI2S_TX>;
		qcom,sd-lines = <0>;
	};
};

&sound {
	model = "comma tizi";

	pinctrl-names = "default", "sleep";
	pinctrl-0 = <&sec_mi2s_mclk_active &sec_mi2s_active &sec_mi2s_sd0_active &sec_mi2s_sd1_active
	             &tert_mi2s_active &tert_mi2s_sd0_active &tert_mi2s_sd1_active>;
	pinctrl-1 = <&sec_mi2s_mclk_sleep &sec_mi2s_sleep &sec_mi2s_sd0_sleep &sec_mi2s_sd1_sleep
	             &tert_mi2s_sleep &tert_mi2s_sd0_sleep &tert_mi2s_sd1_sleep>;

	capture-dai-link {
		link-name = "Capture";
		cpu {
			sound-dai = <&q6afedai TERTIARY_MI2S_TX>;
		};
	};
};
